.BlockTitleDescription {
  &:nth-of-type(even) {
    background-color: color('light-grey');
  }

  &__container {
    @include media('md-down') {
      max-width: 35rem;
    }
  }

  &__image {
    @extend .drop-shadow;
    border-radius: 0.3rem;
  }

  &__description {
    max-width: 35rem;
    
    a {
      @extend .transition;
      border-bottom: solid black 1px;

      &:hover {
        border-color: transparent;
      }
    }
  }
}