.Nav {
  &__container {
    height: 8.875rem;
  }

  &__logo {
    width: 13rem;

    @include media('md-up') {
      width: 14rem;
    }
  }


  &__link {
    margin: 0 0.3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0);

    &:hover {
      border-color: rgb(255, 255, 255);
    }
  }
}