@import '../../styles/settings';

.Hero {
  min-height: 80vh;

  &__content {
    max-width: 30rem;
  }

  &__headline {
    font-size: 3rem;
  }

  &__sub-headline {
    font-size: 1.5rem;
  }

  &__button {
    font-size: .75rem;

    &:nth-of-type(2) {
      background-color: transparent;
      color: color('white');
    }
  }

  &__contentful-container {
    left: 50%;
  }

  &__frame {
    border-radius: 25px;
    box-shadow:
      0 0 15px 7.5px color('white'),
  }

  &__frame-border {
    border-left: 5px solid color('blue-grey');
  }

  &__grey-box {
    height: 35rem;
    background: grey;
  }
}
