@import '../../styles/settings';

.Hero {
  min-height: 80vh;

  &__content {
    max-width: 30rem;
  }

  &__headline {
    font-size: 3rem;
  }

  &__sub-headline {
    font-size: 1.5rem;
    line-height: 35px;
  }

  &__button {
    font-size: 1.25rem;

    &:nth-of-type(2) {
      background-color: transparent;
      color: color('white');
    }
  }

  &__contentful-container {
    left: 50%;
  }

  &__frame {
    border-radius: 5px;
    box-shadow:
      0 0 30px 15px color('glow-start'),
      0 0 50px 30px color('glow-end');

    &__headline {
      font-size: 1.1rem;
      border-bottom: 1px solid color('blue-grey');
    }
  }

  &__frame-border {
    border-left: 4px solid color('blue-grey');
  }

  &__grey-box {
    height: 30rem;
    background: grey;
  }
}
