@import 'settings';

.sans-serif {
  font-family: $sans-serif;
}

.cf-btn-primary {
  background: -webkit-linear-gradient(bottom, #3278C8, #2478C2);
  background: -moz-linear-gradient(bottom, #3278C8, #2478C2);
  background: -o-linear-gradient(bottom, #3278C8, #2478C2);
  background: -ms-linear-gradient(bottom, #3278C8, #2478C2);
  background: linear-gradient(to top, #3278C8, #2478C2);
}
